<div class="row">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bordered-top bordered-palegreen">
                <div class="widget-buttons">
                </div>
            </div>
            <div class="widget-body" style="display: block;">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>针灸治疗与保健</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    <h4>急症针灸<a ng-click ="showlevel4('针灸推拿','针灸治疗与保健','急症针灸','overview','')">
                        (概述)
                    </a></h4>
                    </div>
                    <div ng-repeat = "(index,item) in traSearchTree['针灸治疗与保健']['急症针灸']">
                    <div class="col-sm-2" ng-show= "index != 'overview'">
                        <a ng-click = "showlevel4('针灸推拿','针灸治疗与保健','急症针灸','{{index}}','')">{{index}}</a>
                    </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-12">
                    <h4>针灸治疗</h4>
                    </div>
                    <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['针灸治疗与保健']['针灸治疗']">
                        <a ng-click = "showlevel4('针灸推拿','针灸治疗与保健','针灸治疗','{{index}}','')">{{index}}</a>
                    </div>
                    
                </div>
                 <div class="row">
                    <div class="col-sm-12">
                    <h4>保健方法</h4>
                    </div>
                    <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['针灸治疗与保健']['保健方法']">
                        <a ng-click = "showlevel4('针灸推拿','针灸治疗与保健','保健方法','{{index}}','')">{{index}}</a>
                    </div>
                    
                </div>
                 <div class="row">
                    <div class="col-sm-12">
                    <h4>针灸保健(<a ng-click = "showlevel4('针灸推拿','针灸治疗与保健','针灸保健','overview','')">概述</a>)
                    </h4>
                    </div>  
                </div>
                <hr class="wide">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>针灸技术</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    <h4><a ng-click = "showlevel4('针灸推拿','针灸技术','针灸意外','','')">针灸意外</a></h4>
                    </div>
                    <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['针灸技术']['针灸意外']">
                        <a ng-click = "showlevel4('针灸推拿','针灸技术','针灸意外','{{index}}','')">{{index}}</a>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-12">
                    <h4><a ng-click = "showlevel4('针灸推拿','针灸技术','针法','','')">针法</a></h4>
                    </div>
                    <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['针灸技术']['针法']">
                        <a ng-click = "showlevel4('针灸推拿','针灸技术','针法','{{index}}','')">{{index}}</a>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-12">
                    <h4><a ng-click = "showlevel4('针灸推拿','针灸技术','针灸禁忌','','')">针灸禁忌</a></h4>
                    </div>
                    <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['针灸技术']['针灸禁忌']">
                        <a ng-click = "showlevel4('针灸推拿','针灸技术','针灸禁忌','{{index}}','')">{{index}}</a>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-12">
                    <h4><a ng-click = "showlevel4('针灸推拿','针灸技术','其他','','')">其他</a></h4>
                    </div>
                    <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['针灸技术']['其他']">
                        <a ng-click = "showlevel4('针灸推拿','针灸技术','其他','{{index}}','')">{{index}}</a>
                    </div>
                </div>
                <hr class = "wide">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>灸法</h3>
                    </div>
                </div>
                <div class="row">
                   <div class="col-sm-12">
                   <h4>概述简史</h4>
                   </div>
                   <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['针灸技术']['灸法']['概述简史']">
                        <a ng-click = "showlevel4('针灸推拿','针灸技术','灸法','概述简史','{{index}}')">{{index}}</a>
                    </div>
                    <div class="col-sm-12">
                    <h4>艾灸法</h4>
                    </div>
                   <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['针灸技术']['灸法']['艾灸法']">
                        <a ng-click = "showlevel4('针灸推拿','针灸技术','灸法','艾灸法','{{index}}')">{{index}}</a>
                    </div>
                    <div class="col-sm-12">
                    <h4>非艾灸法</h4>
                    </div>
                   <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['针灸技术']['灸法']['非艾灸法']">
                        <a ng-click = "showlevel4('针灸推拿','针灸技术','灸法','非艾灸法','{{index}}')">{{index}}</a>
                    </div>
                </div>
                <hr class="wide">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>中医推拿</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    <h4>小儿(<a ng-click = "showlevel4('针灸推拿','中医推拿','temp','overview','')">概述</a>)</h4>
                    </div>
                    <div ng-repeat = "(index,item) in traSearchTree['中医推拿']['小儿']">
                    <div class="col-sm-2" ng-show = "index != 'temp'">
                        <a ng-click = "showlevel4('针灸推拿','中医推拿','小儿','{{index}}','')">{{index}}</a>
                    </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-12">
                        <h4>成人</h4>
                    </div>
                    <div class="col-sm-2" ng-repeat = "(index,item) in traSearchTree['中医推拿']['成人']">
                        <a ng-click = "showlevel4('针灸推拿','中医推拿','成人','{{index}}','')">{{index}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>